[Unit]
Description=Start recording a video on boot
After=multi-user.target

[Service]
WorkingDirectory=/path/to/working/dir
ExecStart=/path/to/working/dir/start_recording.sh
StandardOutput=file:/path/to/working/dir/logs/systemd.log
StandardError=file:/path/to/working/dir/logs/systemd.log

[Install]
WantedBy=multi-user.target
